    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.email %></td>
        <td><%= link_to user.longitude %></td>
        <td><%= link_to user.latitude %></td>


      </tr>
    <% end %>